.container {
  display: flex;
  padding: 122px 0;
  justify-content: center;
}

.leftColumn {
  max-width: 255px;
  padding-right: 20px;
}

.rightColumn {
  display: flex;
  justify-content: center;
  width: 693px;
  background-color: #f0eeeb;
  height: 525px;
  margin-right: -120px;
  padding-top: 12px;
}

.stepHeader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.roundNumber {
  font-weight: 550;
  border: 2px solid #473a3a;
  border-radius: 50%;
  padding: 1px 2.9px;
  font-size: 14px;
  margin-right: 6px;
  font-family: "Roboto", sans-serif;
  color: #473a3a;
}

.stepNumber {
  font-weight: 550;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #473a3a;
}

.descriptionText {
  font-size: 14px;
  color: #473a3a;
  margin-bottom: 20px;
  margin-right: 44px;
  
}

.formPlaceholder {
  font-size: 24px;
  color: #473a3a;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
  }

  .leftColumn {
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-size: 64px;
    
  }

  .stepDescription {
    margin-top: 15px;
  }

  .stepNumber {
    font-size: 14px;
  }

  .descriptionText {
    font-size: 12px;
    margin-right: 0;
  }

  .roundNumber {
    font-size: 14px;
    padding: 3px 6px;
  }

  .rightColumn {
    gap: 15px;
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    height: 555px;
  }
}
