.navbar {
  background-color: #baada6;
  padding: 1rem;
  position: relative;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 920px;
  margin: 4px auto;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: white;
}

.navItem {
  text-decoration: none;
  color: white;
  margin: 8px 1.4rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.navBtn {
  position: absolute;
  top: 35px;
  right: 22px;
}

.navBtn button {
  padding: 20px !important;
  font-size: 16px;
  /* box-shadow: 0 0 5px rgba(71, 58, 58, 0.4) !important; */
  height: 33px;
  color: #baada6 !important;
}
.navBtn button:hover {
  color: #ebeaea !important;
  border: none !important;
  background-color: #473a3a !important;
}

.navBtn button:active,
.navBtn button:focus {
  background-color: #473a3a !important;
  color: #ebeaea !important;
}
@media (max-width: 768px) {
  .navbar {
   padding-left:0 ;
  }
  .navItem {
    margin: 0rem 7px;
    padding-right: 0px;
  }
  .navContainer {
    font-size: 8px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
    margin-top: 2px;
  }
  .logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
  }
  .logo {
    width: 53px;
    margin-left: 0px;
  }
  .navBtn button {
    padding: 10px !important;
    font-size: 10px;
    height: 13px;
    color: #baada6 !important;
    position: absolute;
    right: -12px;
    top: -18px;
  }
}
