@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  background-color: #baada6;
  padding: 1rem;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
}

.navItem {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin: 0 1rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.logo {
  width: auto;
  height: 60px;
}

.ant-spin-dot-item {
  background-color: #473a3a !important;
}

.gm-style-mtc {
  display: none !important;
}

.gm-svpc {
  display: none !important;
}
.gmnoprint {
  display: none !important;
}

.ant-input {
  border: 1px solid #473a3a !important;
  box-shadow: 0 0 5px rgba(71, 58, 58, 0.4) !important; /* Slight shadow with color #473a3a */
}
/* Custom styles for DatePicker */
.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-selected .ant-picker-cell-inner::selection {
  background-color: #473a3a !important; /* Change the highlight color */
  color: white !important; /* Ensures the text color is white */
  border: none !important;
  border-color: white !important;
}
.ant-picker-cell {
  border: none !important;
  border-color: white !important;
}
/* Hover state */
.ant-picker-cell:hover .ant-picker-cell-inner,
.ant-picker-cell:hover .ant-picker-cell-inner::selection {
  background-color: #614949 !important; /* Slightly lighter or darker for hover */
  border: none !important;
  border-color: white !important;
}

:where(.css-dev-only-do-not-override-apn68).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-today
  .ant-picker-cell-inner::before {
  border: none !important;
}
.ant-picker-cell-inner {
  border: none !important;
  border-color: white !important;
}
@media (max-width: 600px) {
  .ant-input {
    width: 143px !important;
    height: 21px !important;
    position: relative;
    right: 29%;
    font-size: 9px !important;
  }

  .mapstep .ant-select-selector {
    width: 143px !important;
    height: 21px !important;
    position: relative;
    right: 20%;
  }
  .dd {
    position: relative;
    right: 26%;
  }
  .mapstep .ant-select-item-option-content {
    font-size: 9px !important;
  }

  .mapstep .ant-select-dropdown {
    height: 27px !important;
    width: 33px;
  }
  .mapstep .ant-select-item {
    height: 25px !important;
  }
  .mapstep .ant-select-arrow {
    font-size: 0px !important;
    margin-bottom: 2px !important;
  }
  :where(.css-dev-only-do-not-override-apn68).ant-select-outlined:not(
      .ant-select-customize-input
    )
    .ant-select-selector {
    font-size: 9px;
    height: 29px;
    margin-left: -8px;
  }
  :where(.css-apn68).ant-select-outlined:not(.ant-select-customize-input)
    .ant-select-selector {
    border: 1px solid #473a3a !important;
    background: #fff;
    height: 2px;
    font-size: 9px;
    height: 29px;
    margin-left: -8px;
  }
}
@media (max-width: 768px) {
  .navContainer {
    flex-direction: column;
  }
  .navItem {
    margin: 0.5rem 0;
  }
}

.custom-dropdown .ant-select-item-option {
  background-color: #f0eeeb !important;
  color: #473a3a !important;
}

.custom-dropdown .ant-select-item-option-active {
  background-color: #473a3a !important;
  color: #f0eeeb !important;
}

.custom-dropdown .ant-select-item-option-selected {
  background-color: #b2d8b2 !important;
  color: #473a3a !important;
}

.custom-dropdown .ant-select-selector {
  border-color: #b2d8b2 !important;
}

.ant-select-focused:where(.css-dev-only-do-not-override-apn68)
  .ant-select-outlined:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border-color: #b2d8b2 !important;
}
:where(.css-dev-only-do-not-override-apn68).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector:hover {
  border: 1px solid #473a3a !important;
  background: #ffffff;
  box-shadow: 0 0 5px rgba(71, 58, 58, 0.4) !important; /* Slight shadow with color #473a3a */
}

:where(.css-dev-only-do-not-override-apn68).ant-select-focused
  .ant-select-outlined:not(.ant-select-customize-input)
  .ant-select-selector:focus {
  border: 1px solid #473a3a !important;
  background: #ffffff !important;
  box-shadow: 0 0 5px rgba(71, 58, 58, 0.4) !important; /* Slight shadow with color #473a3a */
}

:where(.css-dev-only-do-not-override-apn68).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border: 1px solid #473a3a !important;
  background: #ffffff;
  box-shadow: 0 0 5px rgba(71, 58, 58, 0.4) !important; /* Slight shadow with color #473a3a */
}

:where(.css-apn68).ant-select-outlined:not(.ant-select-customize-input)
  .ant-select-selector {
  border: 1px solid #473a3a !important;
  background: #ffffff;
}
.ant-select-focused:where(.css-apn68).ant-select-outlined:not(
    .ant-select-disabled
  ):not(.ant-select-customize-input):not(.ant-pagination-size-changer)
  .ant-select-selector {
  box-shadow: 0 0 5px rgba(71, 58, 58, 0.4) !important; /* Slight shadow with color #473a3a */
}

/* CalendarComponent.css */
.bookingCard {
  padding: 20px !important;
}

@media (max-width: 600px) {
  .desktop-only-br {
    display: none; /* Hide on mobile */
  }

  .custom-drop .ant-select-item-option {
    background-color: #f0eeeb !important;
    color: #473a3a !important;
  }

  .custom-drop .ant-select-item-option-active {
    background-color: #473a3a !important;
    color: #f0eeeb !important;
  }

  .custom-drop .ant-select-item-option-selected {
    background-color: #ffffff !important;
    color: #473a3a !important;
    font-size: 10px;
  }
  .custom-drop .rc-virtual-list-holder-inner {
    height: 23px !important;
  }

  .custom-drop .ant-select-selector {
    border-color: #ffffff !important;
  }
  :where(.css-dev-only-do-not-override-apn68).ant-select-outlined:not(
      .ant-select-customize-input
    )
    .ant-select-selector {
    font-size: 9px;
    height: 29px;
    margin-left: -8px;
  }
  :where(.css-apn68).ant-select-outlined:not(.ant-select-customize-input)
    .ant-select-selector {
    border: 1px solid #473a3a !important;
    background: #fff;
    height: 2px;
    font-size: 9px;
    height: 29px;
    margin-left: -8px;
  }
  .bookingCard {
    padding: 1px !important;
  }
  .cardHead{
    padding: 9px !important;
  }
}

@media (min-width: 601px) {
  .desktop-only-br {
    display: inline; /* Show on desktop */
  }
}

:where(.css-apn68).ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #f0eeeb !important;
}

:where(.css-dev-only-do-not-override-apn68).ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #f0eeeb !important;
}
:where(.css-apn68).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-today
  .ant-picker-cell-inner::before {
  border: none !important;
}
button:active,
button:focus {
  border-color: #473a3a;
  color: #ebeaea !important;
  background-color: #41365e;
  transform: 6px;
  outline: none;
}
.navBtn button:active,
.navBtn button:focus {
  background-color: #473a3a !important;
  color: #ebeaea !important;
}
.ant-loc-button:focus,
.ant-loc-button:active {
  border-color: #5d5755 !important;
  color: #ebeaea !important;
}

.gm-style-cc {
  display: none;
}

:where(.css-dev-only-do-not-override-apn68).ant-picker-outlined:hover {
  border-color: #473a3a !important;
  background-color: #ffffff;
}

/* .ant-btn span{
  color:#473a3a!important;
    } */
.ant-tabs-tab .ant-tabs-tab-active {
  border-bottom: 2px solid red !important;
}

:where(.css-dev-only-do-not-override-apn68).ant-tabs
  .ant-tabs-tab.ant-tabs-tab-active
  .ant-tabs-tab-btn {
  color: #473a3a !important;
}
.ant-tabs-tab-btn {
  color: #473a3a !important;
}
.ant-tabs-nav-list {
  border: none !important;
}
.ant-tabs-tab .ant-tabs-tab-active {
  border: none !important;
}
/* Change the color of the active tab underline */
.ant-tabs-ink-bar {
  background-color: #a88a7d !important; /* Replace with your desired color */
}

/* Optional: Update active tab text color */
.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #473a3a !important; /* Match your desired text color */
}
.modal-in {
  width: 100% !important;
  height: 100% !important;
  right: 0%;
  font-size: 15px !important;
  padding: 6px;
}

.modal-inn {
  width: 100% !important;
  height: 50% !important;
  right: 0%;
  font-size: 15px !important;
  padding: 6px;
}
:where(.css-dev-only-do-not-override-49qm).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-today
  .ant-picker-cell-inner::before {
  border: none !important;
}

.ant-select-selector {
  border: 1px solid #473a3a !important;
  box-shadow: 0 0 5px rgba(71, 58, 58, 0.4) !important; /* Slight shadow with color #473a3a */
}

:where(.css-dev-only-do-not-override-49qm).ant-pagination
  .ant-pagination-item-active
  a {
  color: #473a3a !important;
}

:where(.css-dev-only-do-not-override-49qm).ant-pagination
  .ant-pagination-item-active {
  border: 1px solid #473a3a !important;
}

.ant-select-item-option-selected {
  background-color: #464242 !important; /* Change the highlight color */
  color: white !important;
}
